<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YQPresentLikePush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E1D747B1D5EED2800323CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E1D74941D5EED2800323CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E1D749F1D5EED2900323CA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
